# dependencies
node_modules/
yarn-error.log
package-lock.json

# os
.DS_Store

# production
dist/

# env
.env
.env.dev
.env.local
.env.test

# testing
/coverage

# log
*.log*

# ssl
sslKey/

# firebase
serviceAccountKey.json

### Backend ###
server/config
server/sslKey